.container {
  padding-left: 0;
  padding-right: 10px;
  margin: 0;
}

.flat-card{
  margin: 0;
  margin-right: 10px;
}

.last-card{
  margin-bottom: 15%;
}

.flat-card ion-card-content{
  padding: 10px 5px 0 5px;
}

.title {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(49, 66, 125);
  margin-top: 25px;
  margin-bottom: 20px;
}

.pd-0 {
  padding: 0;
}

.number-iframe {
  padding: 0;
}

.space-between {
  justify-content: space-between;
}

.statistic {
  margin: 0;
  background-size: 100% 100%;
}

.statistic-subtitle {
  font-size: 12px !important;
  font-weight: lighter;
  color: rgb(0, 0, 0, 0.9);
}

.statistic-header {
  padding: 12% 0 0 6%;
}

.statistic-iframe {
  margin-top: -10px;
  padding-left: 6%;
  box-sizing: border-box;
}

.Tab {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
